{% extends "numbers_layout.html" %}
{% block numbers %}
    {% for document in cursor %}
    <tr><td>{{document["number"]}}</td><td>{{document["hour"]}}</td><td>{{document["date"]}}</td></tr>
    {% endfor %}
{% endblock %}
{% block average %}
{% if av %}
	<tr><td>La media calculada por {{data_base}} es {{media}}</td></tr>
{% else %}
	<tr><td></td></tr>
{% endif %}
{% endblock %}
{% block umbrales %}
{% if umbral %}
	<tr><td>La ultima vez que se genero un numero dentro de los umbrales marcados fue con fecha&nbsp;{{ultima_hora}}&nbsp;{{ultima_fecha}}con el numero&nbsp;{{ultimo_numero}}</td></tr>
{% else %}
	<tr><td></td></tr>
{% endif %}
{% endblock %}
